h1, h2, h3, h4{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;

}

.formulario__mensaje{ /*mensaje oculto "Campos Incompletos" para formulario Registro de Usuario*/
    display:none;
}

.formulario__mensaje-exito{ /*mensaje oculto "Enviado con exito" para formulario Registro de Usuario*/
    display:none;
}

.formulario__mensaje-activo{ /*desocultar mensaje "Campos Incompletos"*/
    display:block;
}

.formulario__mensaje-exito-activo{ /*desocultar mensaje "Enviado con exito"*/
	display: block;
}

.formulario__validacion-inactivo{
    opacity: 0;
}

/* .formulario__grupo-correcto .formulario__validacion-inactivo {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-inactivo {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
} */


.imgprofile{
    height: 55%;
}

.h1{
    font-size: 10rem;
}

.barra{
    display: flex;
    justify-content: space-between;
}

.contactanos_img{
    background-image: url('img/house.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 120vh;
}

.imagenn{
    background-image: url('img/meet.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 55vh;
}

.baner{
    background-image: url('img/room.jpg');
    height: 22rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bac{
    border: 1px solid tomato;
    border-radius: 10px;
    text-align: justify;
    margin: 15px;
}


.card{
    height: 101%;
}

.card-text{
    height: 67%;
}

.bgfoo{
    background-color: #ff6347;
}


.iconos{
    font-size: 3rem;
    color: black;
    margin-right: 2rem;
    text-decoration: none;
}
.bg{
    background-color: white;
}
.enlaces{
    display: flex;
    text-decoration: none;
    text-align: right;
}
footer{
    text-align: center;
}

.input{
            width: 250px;
            background: none;
            border: 0;
            border-bottom: 1px solid black;
            margin: 10px;
            padding: 0px 0px 5px 20px;

}

.label{
font-family: Arial, Helvetica, sans-serif;
}



.button{
    width: 100px;
    border: 1px solid tomato;
    border-radius: 10px;
    margin: 10px 0px 0px 80px;
    background-color: #ff8f1f;
}

::placeholder {
    color: black;
    /* text-shadow: black 0.1em 0.1em 0.2em; */

}

.text-center1{
    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.text-center{
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    text-align: center;
}
.custom-file{
    background-color: #d3cfca65;
}
